*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fix img */

body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
}


img{
  max-width: 100%;
}

.marca{
  font-size: .8rem;
  padding-bottom: 0;
}

.marca.prezzo{
  color: red;
}

.marca.prezzo.originale{
  color: black;
  text-decoration: line-through;
}

.prezzo::after{
  content: ' \20AC';
}

.nome{
  text-transform: uppercase;
}

.prodotto .nascosta{
  position: absolute;
  display: none;
  top: 0;
  right: 0;
}

.prodotto:hover .nascosta{
  display: block;
}

.prodotto:hover .cuore{
  color: red;
}

header{
  margin: 0 auto;
}

.logo{
  width: 300px;
}

.logo img{
  max-width: 30%;
}
.topbar{
  background-color: #FF6900;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

}

.bottom-bar{
  width: 100%;
  background-color: #1A1A1A;
  color: white;
  height: 90px;

}

.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 17%;
}


.menu ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.menu ul a{
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.menu ul a:hover{
  text-decoration: underline;
}

footer .box{
  margin: 0 17%;
}

footer .info .menu a{
  font-size: .8rem;
}

footer .social{

}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;

  width: 80%;
  max-width: 1300px;
  margin: 100px auto;
}

.prodotto{
  width: 410px;
  margin: 8px;
  position: relative;
  cursor: pointer;
}

.prodotto .cuore{
  position: absolute;
  top: 10px;
  left: 88%;
  padding: 5px 15px;

  font-size: 2rem;
  background-color: white;
  color: black;

}

.prodotto .sconto{
  position: absolute;
  bottom: 90px;
  left: 0;
  background-color: red;
  color: white;
  font-size: .8rem;
  padding: 5px 10px;
  
}

.sconto.sosteni{
  background-color: green;
  left: 50px;

}

.sconto.sosteni.singolo{
  left: 0;
}



